<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
    <Properties>
        <Property name="basePath">D:\\SmsWs</Property>
    </Properties>
    <Appenders>
        <!-- File Appender -->
        <File name="Archivo" fileName="${basePath}/smsws.log" append="true">
            <PatternLayout pattern="%d{dd-MMM-yyyy - HH:mm:ss,SSS} %5p (%F:%L) - %m%n" />
        </File>
        <!-- Console Appender -->
        <Console name="Consola" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd-MMM-yyyy - HH:mm:ss,SSS} %5p (%F:%L) - %m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="pe.com.vendemas" level="debug" />
        <Root level="info">
            <AppenderRef ref="Archivo" />
            <AppenderRef ref="Consola" />
        </Root>
    </Loggers>
</Configuration>