/.metadata/
target/
Servers/
RemoteSystemsTempFiles/
ReferidosWeb/
!.mvn/wrapper/maven-wrapper.jar
### STS ###
.apt_generated
.classpath
.factorypath
.settings
.metadata
.recommenders
.project
MANIFEST.MF